

.footer {
    height: 27rem;
    background-color:black;
    &__content {
      text-align: center;
      margin: 0 auto;
      max-width: 20rem;
      padding-top: 12.5rem;
      padding-bottom: 5rem;
    }
    img {
      margin-bottom: 1rem;
    }
  
    p {
      font-family: $font-josefin;
      color: $white;
      font-size: 1.6rem;
      font-weight: 400;
      letter-spacing: 0.45px;
      margin: 0 0 2.9rem 0;
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    li {
      cursor: pointer;
      text-decoration: none;
      transition: all 0.4s ease-in;
      &:hover {
        transform: scale(1.5);
      }
      img {
        width: 100%;
      }
    }
  }
  